Project/.idea
Project/venv1/*
Project/venv/*
Project/__pycache__/config.cpython-39.pyc
Project/__pycache__/config.cpython-38.pyc
Project/idea/
*.iml
.idea/*
Project/test.csv
Project/__pycache__/debug_functions.cpython-38.pyc
